 {
    border: 1px solid black;
}
.navbar-text a {
    padding: 8px 20px 8px 20px;
}
.aboutme {
    margin-bottom: 0px;
    padding-top: 50px;
}
.navbar-brand {
    margin-left: 40px;
}

.card-img-top img  {
    width: 100px;
}
 .card {
    border-style:none;
}